---
import Layout from "@Layouts/app.layout.astro";
import BreadCrumbs from "@Components/BreadCrumbs.astro";
import { db, eq } from "astro:db";
import { Group } from "astro:db";

const { id } = Astro.params;

const group = await db
	.select()
	.from(Group)
	.where(eq(Group.id, Number(id)));

if (!group.length) {
	return Astro.redirect("/404");
}

const breadcrumbs = [
	{
		label: "Groups",
		path: "/groups",
	},
	{
		label: group[0].name,
		path: `/groups/${id}`,
	},
];
---

<Layout title={`${group[0].name} | Groups`}>
	<div
		class="shadow-md rounded-lg overflow-hidden transition-shadow hover:shadow-lg"
	>
		<div
			class="p-4 block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5"
		>
			<div class="w-full mb-1">
				<BreadCrumbs
					routes={breadcrumbs}
					currentRoute={Astro.url.pathname}
					headerTitle={`Group: ${group[0].name}`}
				/>
			</div>
		</div>

		<div class="flex flex-col">
			<div class="overflow-x-auto">
				<div class="inline-block min-w-full align-middle">
					<div
						class="flex flex-col items-center rounded-lg shadow xl:flex-row xl:max-w-xl bg-white/25 dark:bg-gray-700/25"
					>
						<div
							class="flex flex-col justify-between p-4 leading-normal w-full"
						>
							<h5
								class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								{group[0].name}
							</h5>

							<table
								class="border border-gray-700 rounded-lg dark:border-gray-100 mb-4"
							>
								<thead>
									<tr>
										<th class="px-4 py-2">Position</th>
										<th class="px-4 py-2">Status</th>
										<th class="px-4 py-2"
											>Allow Description</th
										>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center px-4 py-2"
											>{group[0].position}</td
										>
										<td class="text-center px-4 py-2">
											<span
												class={`px-3 py-1 rounded-full text-sm ${
													group[0].active
														? "bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-200"
														: "bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-200"
												}`}
											>
												{
													group[0].active
														? "Active"
														: "Inactive"
												}
											</span>
										</td>
										<td class="text-center px-4 py-2">
											<span
												class={`px-3 py-1 rounded-full text-sm ${
													group[0].is_allow_desc
														? "bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-200"
														: "bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-200"
												}`}
											>
												{
													group[0].is_allow_desc
														? "Yes"
														: "No"
												}
											</span>
										</td>
									</tr>
								</tbody>
							</table>

							<div class="flex items-center gap-4">
								<a
									href={`/groups/${group[0].id}/edit`}
									class="inline-flex items-center px-4 py-2 bg-purple-700 text-white rounded-md hover:bg-purple-600 transition-colors"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="w-6 h-6"
										aria-hidden="true"
										fill="currentColor"
										viewBox="0 -960 960 960"
									>
										<path
											d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"
										></path>
									</svg>
									<span class="ml-2">Edit</span>
								</a>
								<a
									href="/groups"
									class="inline-flex items-center px-4 py-2 bg-gray-600 text-white rounded-md hover:bg-gray-700 transition-colors"
								>
									<svg
										class="w-6 h-6"
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
									>
										<path
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M5 12h14M5 12l4-4m-4 4 4 4"
										></path>
									</svg>
									<span class="hidden md:block ml-2"
										>Back</span
									>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
