---
import Layout from "../../layouts/main.layout.astro";
import {APP_NAME, APP_SHORT_VERSION} from "../../configs/constants";
import {asset} from "../../lib/utils/functions";
import Footer from "../../templates/footer.guest.template.astro";

let error = '';
let success = '';

---
<Layout title="Register">
	<div
		class="flex flex-col items-center justify-center px-6 pt-8 mx-auto pt:mt-0
        bg-gradient-to-b
		text-gray-800
        dark:text-white
		from-secondary-600
		to-primary-600
        dark:from-secondary-300
		dark:to-primary-300"
	>
		<a
			href="/"
			class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white"
		>
			<img src={asset('img/logos/logo.png')} alt="FlowBite Logo" class="mr-4 h-11" />
			<span>{APP_NAME} v{APP_SHORT_VERSION}</span>
		</a>
		<!-- Card -->
		<div
			class="p-6 space-y-8 sm:p-8 sm:mx-auto sm:w-full sm:max-w-sm bg-white/25 rounded-lg shadow dark:bg-gray-800/25"
		>
			<h2 class="text-2xl font-bold text-gray-900 dark:text-white">
				Cree su cuenta
			</h2>
			{error && (
				<div class="mb-4 p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
					{error}
				</div>
			)}

			{success && (
				<div class="mb-4 p-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
					{success}
				</div>
			)}

			<form class="space-y-6" method="POST" id="createForm">
				<div class="grid grid-cols-2 gap-4">
					<div>
						<label for="person_name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200">
							Nombre
						</label>
						<input
							id="person_name"
							name="person_name"
							type="text"
							required
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
						/>
					</div>
					<div>
						<label for="person_lastname" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200">
							Apellido
						</label>
						<input
							id="person_lastname"
							name="person_lastname"
							type="text"
							required
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
						/>
					</div>
				</div>

				<div>
					<label for="user_name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200">
						Nombre de usuario
					</label>
					<input
						id="user_name"
						name="user_name"
						type="text"
						autocomplete="user_name"
						class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
					/>
				</div>

				<div>
					<label for="email" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200">
						Dirección Email
					</label>
					<input
						id="email"
						name="email"
						type="email"
						autocomplete="email"
						required
						class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
					/>
				</div>

				<div>
					<label for="phone" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200">
						Teléfono (opcional)
					</label>
					<input
						id="phone"
						name="phone"
						type="tel"
						class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
					/>
				</div>

				<div>
					<label for="password" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200">
						Contraseña
					</label>
					<input
						id="password"
						name="password"
						type="password"
						autocomplete="new-password"
						required
						class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
					/>
				</div>

				<div>
					<label for="confirmPassword" class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200">
						Confirmar Contraseña
					</label>
					<input
						id="confirmPassword"
						name="confirmPassword"
						type="password"
						autocomplete="new-password"
						required
						class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
					/>
				</div>

				<div>
					<button
						type="submit"
						class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
					>
						Registrarse
					</button>
				</div>
			</form>

			<p class="mt-10 text-center text-sm text-gray-500">
				¿Ya tiene cuenta?
				<a href="/auth/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
					Iniciar sesión
				</a>
			</p>
		</div>
	<Footer/>
	</div>
</Layout>
<script>
	import { showSuccess, showError } from "../../lib/utils/notifications";
	import { validateUserAccount } from "../../lib/utils/validation";

	const form = document.getElementById("createForm");
	form?.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(form as HTMLFormElement);
		const data = {
			email: formData.get("email"),
			password: formData.get("password"),
			confirmPassword: formData.get("confirmPassword"),
			name: formData.get("person_name"),
			lastname: formData.get("person_lastname"),
			phone: formData.get("phone"),
			user: formData.get("user_name"),
		}
		const validation = validateUserAccount(data);
		if (validation.errors) {
			showError(Object.values(validation.errors).flat().join("\n"));
			return;
		}
		try {
			const response = await fetch("/api/auth", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			});

			if (response.ok) {
				showSuccess("¡Usuario creado con exito!");
				window.location.href = "/auth/login";
			} else {
				const error = await response.json();
				showError(error.message || "No se ha podido crear el usuario, favor verificar información y volver a intentar");
			}
		} catch (error) {
			showError("Error inesperado, favor verificar consola.");
			console.error(error);
		}
	});
</script>