---
import Layout from "@Layouts/app.layout.astro";
import BreadCrumbs from "@Components/BreadCrumbs.astro";
import { count, db, eq } from "astro:db";
import { Supplier, Purchase } from "astro:db";

const { id } = Astro.params;

const supplier = await db
	.select()
	.from(Supplier)
	.where(eq(Supplier.id, Number(id)));

const countPurchases = await db
	.select({ value: count(Purchase.id) })
	.from(Purchase)
	.where(eq(Purchase.supplier_id, Number(id)));

const breadcrumbs = [
	{
		label: "Suppliers",
		path: "/suppliers",
	},
	{
		label: `Tienda ${supplier[0].name}`,
		path: `/suppliers/${id}`,
	},
];
---

<Layout title={`${supplier[0].name} | Suppliers`}>
	<div
		class="shadow-md rounded-lg overflow-hidden transition-shadow hover:shadow-lg"
	>
		<div
			class="p-4 block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5"
		>
			<div class="w-full mb-1">
				<BreadCrumbs
					routes={breadcrumbs}
					currentRoute={Astro.url.pathname}
					headerTitle={`Tienda ${supplier[0].name}`}
				/>
			</div>
		</div>
		<div class="flex flex-col">
			<div class="overflow-x-auto">
				<div class="inline-block min-w-full align-middle">
					<div
						class="flex flex-col items-center bg-white/25 rounded-lg shadow md:flex-row xl:max-w-xl dark:bg-gray-700/25"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src={supplier[0].logo ?? "/assets/img/no_photo.png"}
							alt={supplier[0].name ?? "Supplier Logo"}
						/>
						<div
							class="flex flex-col justify-between p-4 leading-normal"
						>
							<h5
								class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								{supplier[0].name}
							</h5>
							<div class="grid grid-cols-2 gap-4 mb-4">
								<div>
									<h6
										class="font-semibold text-gray-900 dark:text-white"
									>
										Información de Contacto
									</h6>
									<p
										class="text-sm text-gray-700 dark:text-gray-400"
									>
										<strong>Email:</strong>
										{supplier[0].email}<br />
										<strong>Teléfono:</strong>
										{supplier[0].phone}<br />
										<strong>Sitio web:</strong>
										{supplier[0].website}
									</p>
								</div>
								<div>
									<h6
										class="font-semibold text-gray-900 dark:text-white"
									>
										Dirección
									</h6>
									<p
										class="text-sm text-gray-700 dark:text-gray-400"
									>
										{supplier[0].address}<br />
										{supplier[0].city}, {
											supplier[0].state
										}<br />
										{supplier[0].country}
									</p>
								</div>
							</div>
							<div class="grid grid-cols-2 gap-4 mb-4">
								<div>
									<h6
										class="font-semibold text-gray-900 dark:text-white"
									>
										Persona de Contacto
									</h6>
									<p
										class="text-sm text-gray-700 dark:text-gray-400"
									>
										<strong>Nombre:</strong>
										{supplier[0].contact}<br />
										<strong>Email:</strong>
										{supplier[0].contact_email}<br />
										<strong>Teléfono:</strong>
										{supplier[0].contact_phone}
									</p>
								</div>
								<div>
									<h6
										class="font-semibold text-gray-900 dark:text-white"
									>
										Información Comercial
									</h6>
									<p
										class="text-sm text-gray-700 dark:text-gray-400"
									>
										<strong>Impuestos:</strong>
										{supplier[0].taxes}%<br />
										<strong>Descuento:</strong>
										{supplier[0].discount}%<br />
										<strong>Compras:</strong>
										{countPurchases[0].value}
									</p>
								</div>
							</div>
							<table
								class="border border-gray-700 rounded-lg dark:border-gray-100"
							>
								<thead>
									<tr>
										<th class="px-4 py-2">Compras</th>
										<th class="px-4 py-2">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center px-4 py-2">
											{countPurchases[0].value}
										</td>
										<td class="text-center px-4 py-2">
											<span
												class={`px-3 py-1 rounded-full text-sm ${
													supplier[0].status === 1
														? "bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-200"
														: "bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-200"
												}`}
											>
												{
													supplier[0].status === 1
														? "Active"
														: "Inactive"
												}
											</span>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="flex items-center gap-4 mt-4">
								<a
									href={`/suppliers/${supplier[0].id}/edit`}
									class="inline-flex items-center px-4 py-2 bg-purple-700 text-white rounded-md hover:bg-purple-600 transition-colors"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="w-6 h-6"
										aria-hidden="true"
										fill="currentColor"
										viewBox="0 -960 960 960"
									>
										<path
											d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"
										></path>
									</svg>
									<span class="hidden md:block ml-2"
										>Editar</span
									>
								</a>

								<a
									href="/suppliers"
									class="inline-flex items-center px-4 py-2 bg-gray-600 text-white rounded-md hover:bg-gray-700 transition-colors"
								>
									<svg
										class="w-6 h-6"
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
									>
										<path
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M5 12h14M5 12l4-4m-4 4 4 4"
										></path>
									</svg>
									<span class="hidden md:block ml-2"
										>Volver</span
									>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
