---
import Layout from "../../layouts/app.layout.astro";
import BreadCrumbs from "@Components/BreadCrumbs.astro";
import Search from "@Components/Search.astro";
import { db, Purchase, User, Supplier } from "astro:db";
import { eq } from "astro:db";

const purchases = await db
	.select({
		id: Purchase.id,
		invoice: Purchase.number,
		purchaseDate: Purchase.purchase_date,
		ingress_date: Purchase.ingress_date,
		supplier: {
			id: Supplier.id,
			name: Supplier.name,
		},
		buyer: {
			id: User.id,
			name: User.name,
		},
		taxes: Purchase.taxes,
		total: Purchase.total,
		details: Purchase.purchase_details,
	})
	.from(Purchase)
	.leftJoin(Supplier, eq(Supplier.id, Purchase.supplier_id))
	.leftJoin(User, eq(User.id, Purchase.buyer_id))
	.orderBy(Purchase.created_at);

const breadcrumbs = [
	{
		lable: "Compras",
		path: "/compras",
	},
];
---

<Layout title="Compras">
	<div
		class="shadow-md rounded-lg overflow-hidden transition-shadow hover:shadow-lg"
	>
		<div
			class="p-4 block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5"
		>
			<div class="w-full mb-1">
				<BreadCrumbs
					routes={breadcrumbs}
					currentRoute={Astro.url.pathname}
					headerTitle="Compras"
				/>
				<div class="items-center justify-between flex">
					<div class="flex items-center mb-4 sm:mb-0">
						<Search
							action="search"
							id="categoriesSearch"
							placeholder="en categorías"
							method="get"
						/>
					</div>

					<div
						class="flex items-center mb-4 sm:mb-0 ml-auto space-x-1 sm:space-x-2"
					>
						<a
							href="/purchases/new"
							class="inline-flex
							items-center
							justify-center
							w-1/2
							px-3
							py-2
							text-sm
							font-medium
							text-center
							rounded-lg
							focus:ring-4
							sm:w-auto
							text-white
							bg-purple-700
							hover:bg-purple-800
							focus:ring-purple-300
							dark:bg-purple-600
							dark:hover:bg-purple-700
							dark:focus:ring-purple-800"
						>
							<svg
								class="w-5 h-5 sm:mr-2 sm:-ml-1"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
									clip-rule="evenodd"></path></svg
							>
							<span class="hidden md:block">Agregar</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col">
			<div class="overflow-x-auto">
				<div class="inline-block min-w-full align-middle">
					<table
						class="min-w-full divide-y divide-gray-200"
						id="default-table"
					>
						<thead class="bg-primary-400 text-white">
							<tr>
								<th scope="col">
									<span
										class="px-4 py-2 flex items-center font-medium uppercase tracking-wider"
									>
										Factura
									</span>
								</th>
								<th scope="col">
									<span
										class="px-4 py-2 flex items-center font-medium uppercase tracking-wider"
									>
										Fecha
									</span>
								</th>
								<th scope="col">
									<span
										class="px-4 py-2 flex items-center font-medium uppercase tracking-wider"
									>
										Entrada
									</span>
								</th>
								<th scope="col">
									<span
										class="px-4 py-2 flex items-center font-medium uppercase tracking-wider"
									>
										Proveedor
									</span>
								</th>
								<th scope="col">
									<span
										class="px-4 py-2 flex items-center font-medium uppercase tracking-wider"
									>
										Comprador
									</span>
								</th>
								<th scope="col">
									<span
										class="px-4 py-2 flex items-center font-medium uppercase tracking-wider"
									>
										Taxes
									</span>
								</th>
								<th scope="col">
									<span
										class="px-4 py-2 flex items-center font-medium uppercase tracking-wider"
									>
										Total
									</span>
								</th>
								<th
									scope="col"
									class="relative py-2 px-4 text-center text-xs font-medium uppercase tracking-wider"
									><span class="sr-only">Actions</span></th
								>
							</tr>
						</thead>
						<body
							class="divide-y divide-primary-500 dark:divide-gray-200"
						>
							{
								purchases.map((purchase) => (
									<tr>
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
											{purchase.invoice}
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
											{purchase.purchaseDate}
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
											{purchase.ingress_date}
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
											{purchase.supplier?.name ??
												"Sin proveedor"}
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
											{purchase.buyer?.name ??
												"Sin comprador"}
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
											{purchase.taxes}
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
											{purchase.total}
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
											<div
												class="inline-flex rounded-md shadow-sm"
												role="group"
											>
												<a
													href={`/purchases/${purchase.id}/edit`}
													aria-current="page"
													class="
														px-1 
														py-1
														mr-1
														text-sm 
														font-medium 
														rounded-s-lg 
														focus:z-10 
														focus:ring-2 
														text-warning-500 
														dark:text-warning-600 
														hover:bg-warning-800 
														hover:text-warning-400
														focus:ring-warning-600 
														focus:text-warning-600"
												>
													<span class="sr-only">
														Edit
													</span>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														class="w-6 h-6"
														aria-hidden="true"
														fill="currentColor"
														viewBox="0 -960 960 960"
													>
														<path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
													</svg>
												</a>
												<a
													href={`/purchases/${purchase.id}/details`}
													aria-current="page"
													class="
													px-1 
													py-1
													mr-1
													text-sm 
													font-medium 
													rounded-md 
													focus:z-10 
													focus:ring-2 
													text-green-500 
													dark:text-green-600
													hover:bg-success-800 
													hover:text-green-400 
													focus:ring-green-600
													focus:text-green-600"
												>
													<span class="sr-only">
														Details
													</span>
													<svg
														class="w-6 h-6"
														aria-hidden="true"
														xmlns="http://www.w3.org/2000/svg"
														width="24"
														height="24"
														fill="none"
														viewBox="0 0 24 24"
													>
														<path
															stroke="currentColor"
															stroke-width="2"
															d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
														/>
														<path
															stroke="currentColor"
															stroke-width="2"
															d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
														/>
													</svg>
												</a>
												<button
													data-id={purchase.id}
													type="button"
													class="
													px-1 
													py-1 
													text-sm 
													font-medium 
													rounded-e-lg 
													focus:z-10 
													focus:ring-2  
													text-danger-400
													hover:bg-danger-800 
													focus:ring-orange-600 
													focus:text-danger-300
													delete-btn"
												>
													<span class="sr-only">
														Delete
													</span>
													<svg
														class="w-6 h-6"
														aria-hidden="true"
														xmlns="http://www.w3.org/2000/svg"
														fill="none"
														viewBox="0 0 24 24"
													>
														<path
															stroke="currentColor"
															stroke-linecap="round"
															stroke-linejoin="round"
															stroke-width="2"
															d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
														/>
													</svg>
												</button>
											</div>
										</td>
									</tr>
								))
							}
						</body>
					</table>
				</div>
			</div>
		</div>
	</div></Layout
>
